<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./Partials/head.ejs', { title: product.name + ' page' }) %>
    </head>
<head>
    <%- include('./Partials/detailHead.ejs') %>
    </head>
<body>
    <p class="p1">
    <% if(product){ %>
      The Item is <%= product.name %> and the count is <%= product.count %> 
    <% }else { %>
        <h1>Product does not exist</h1>
    <% } %>
</p>
<p class="p2">
    <% if(product.isLow === true) { %>
            <span>Needs to be ordered</span>
        <% } else { %>
            <span>Is stocked</span>
            <% }%>
        </p>        
<div>
    <a href="/main/<%= product._id %>/edit">Edit this Entry</a>
</div>
<a class="homes" href="/">Home</a>
</body>
</html>