<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('./Partials/head.ejs', {title: 'Show Page'}) %>
    </head>
    
</head>
<body>
    <nav>
        <%- include('./Partials/nav.ejs') %>
      </nav>
    <h1>Show Page</h1>
    <p>
    <% if(product){ %>

      The Item is <%= product.name %> and the count is <%= product.count %> 

        <% if(product.isLow === true) { %>
            <span>Needs to be ordered</span>
        <% } else { %>
            <span>Is stocked</span>
            <% }%>
            
    <% }else { %>
        
        <h1>Product does not exist</h1>

    <% } %>
</p>
<div class="showPageContainer">
    <a href="/main/<%= product._id %>/edit">Edit this Entry</a>
    <a href="/">Home</a>
</div>


    <%- include('./Partials/footer.ejs') %>
</body>
</html>