<head>
    <%- include('./Partials/head.ejs', {title: `Edit ${product.name} | Inventory Manager`}) %>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>

    <section class="hero">
        <h1>Edit a Item</h1>
    </section>

    <form class="edit" method="POST" action="/main/<%= product._id %>?_method=PUT">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= product.name %>" required>
        <br>
        <label for="count">Count:</label>
        <input type="text" id="count" name="count" value="<%= product.count %>" required>
        <br>
        <label for="isLow">Is it low on stock</label>
         <input type="checkbox" name="isLow" id="isLow" <%= product.isLow ? 'checked' : '' %> >
        <input type="submit" value="Edit Item">
    </form>
<a href="/main/<%= product._id %>">Go back</a>
</body>